* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background: linear-gradient(
    0deg,
    rgb(56, 149, 202) 0%,
    rgb(247, 249, 250) 100%
  );
  border-radius: 0 0 20px 20px;
  padding-bottom: 250px;
}
.img-container {
  text-align: center;
}
.img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -100px;
  border: 5px solid white;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  filter: grayscale(100%);
}
.img-container img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 60px rgba(76, 12, 179, 0.5);
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info {
  text-align: center;
  margin-top: 20px;
}
.info,
h3 {
  padding-top: 7px;
}
.info,
p {
  padding-top: 4px;
}

.skills {
  display: flex;
  padding: 0 80px 0 80px;
  justify-content: space-between;
}
.lang {
  text-align: center;
  margin-top: 10px;
}
.certificates {
  margin-left: 25px;
}
ul {
  list-style: none;
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}
ul li::before {
  padding: 3px;
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
